{##
 # Address component
 # @param {string} heading
 # @param {HTML} address
 # @param {HTML} contact
 # @param {object} image
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set address = address|default('') %}
{% set contact = contact|default('') %}
{% set image = image|default(null) %}

{# Variables #}
{% set handle = 'address' %}

{# Markup #}
<div class="{{ handle }}">
    <div class="{{ handle }}__info-cont">
        <h2>{{ heading }}</h2>
        <address>{{ address }}</address>
        <div>{{ contact }}</div>
    </div>
    <div class="{{ handle }}__map-cont">
        {% if image %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
        {% endif %}
    </div>
</div>
