{##
 # Cards component
 # @param {string} heading
 # @param {object[]} cards
 # |_@param {object} image
 # |_@param {string} heading
 # |_@param {string} byline
 # |_@param {string} teaser
 # |_@param {modules\components\models\Link} cta
 # |_@param {bool} openInModal
 # @param {bool} stack
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set cards = cards|default([]) %}
{% set stack = stack is defined and stack %}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'cards' %}
{% set expandedClass = 'is-expanded' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }} {{ stack ? handle ~ '--stack' }}">
    {% if heading is not empty %}
        <h2>{{ heading }}</h2>
    {% endif %}
    {% if cards is not empty %}
        <div class="{{ handle }}__cards-cont">
            {% for c in cards %}
                {% set image = c.image|default(null) %}
                {% set cta = c.cta|default(null) %}
                {% set openInModal = c.openInModal is defined and c.openInModal %}

                <article>
                    {% if image %}
                        <div class="{{ handle }}__card-image-cont">
                            {% set imageContent %}
                                <img src="{{ image.url }}" alt="{{ image.title }}" />
                            {% endset %}
                            {% if cta %}
                                {{ cta.render(imageContent) }}
                            {% else %}
                                {{ imageContent }}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="{{ handle }}__card-details-cont">
                        <h3>{{ c.heading }}</h3>
                        {% if c.byline|default('') %}
                            <cite>{{ c.byline }}</cite>
                        {% endif%}
                        <p>{{ c.teaser|raw }}</p>
                        {% if cta %}
                            {% set content %}
                                {{ cta.title }}
                                {% include '_components/icon' with { icon: 'arrow-right' } %}
                            {% endset %}
                            {{ cta.render(content, {
                                data: { modal: openInModal|json_encode },
                            }) }}
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>
    {% endif %}

    {{ components.new(handle, {
        id: id,
        expandedClass: expandedClass,
    }) }}
</div>
