{##
 # Footer component
 # @global {GlobalSet} footer
 #}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'footer' %}
{% set activeClass = 'is-active' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    <div class="{{ handle }}__cont">
        <h5>&copy;{{ now|date('Y') }} {{ footer.footerCopyright }}<h5>
        <address>{{ footer.footerAddress }}</address>
        <h6>{{ footer.footerCert }}</h5>
    </div>

    {#
    {{ components.new(handle, {
        id: id,
        activeClass: activeClass,
    }) }}
    #}
</div>
