{##
 # Form component
 # @param {string} heading
 # @param {modules\forms\models\Form} model
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set model = model|default(null) %}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'form' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    <div class="{{ handle }}__cont">
        <h2>{{ heading }}</h2>
        <form method="post">
            <input type="hidden" name="action" value="forms-module/forms/submit" />
            <input type="hidden" name="handle" value="{{ 'contact'|hash }}" />
            {{ redirectInput(craft.app.request.pathInfo ~'?success=true') }}
            {{ csrfInput() }}

            <fieldset>
                {% include '_components/input' with {
                    type: model.getAttributeInputType('name'),
                    required: model.isAttributeRequired('name'),
                    label: model.getAttributeLabel('name'),
                    name: 'name',
                    value: model['name'],
                    errors: model.getErrors('name'),
                    size: model.getAttributeInputSize('name'),
                } %}

                {% include '_components/input' with {
                    type: model.getAttributeInputType('email'),
                    required: model.isAttributeRequired('email'),
                    label: model.getAttributeLabel('email'),
                    name: 'email',
                    value: model['email'],
                    errors: model.getErrors('email'),
                    size: model.getAttributeInputSize('email'),
                } %}

                {% include '_components/input' with {
                    type: model.getAttributeInputType('phone'),
                    required: model.isAttributeRequired('phone'),
                    label: model.getAttributeLabel('phone'),
                    name: 'phone',
                    value: model['phone'],
                    errors: model.getErrors('phone'),
                    size: model.getAttributeInputSize('phone'),
                } %}
            </fieldset>

            <fieldset>
                {% include '_components/input' with {
                    type: model.getAttributeInputType('message'),
                    required: model.isAttributeRequired('message'),
                    label: model.getAttributeLabel('message'),
                    name: 'message',
                    value: model['message'],
                    errors: model.getErrors('message'),
                    size: model.getAttributeInputSize('message'),
                } %}
            </fieldset>

            <button type="submit" title="Submit Form">
                Submit Form
                {% include '_components/icon' with { icon: 'arrow-right' } %}
            </button>
        </form>
    </div>

    {{ components.new(handle, {
        id: id,
    }) }}
</div>
