{##
 # Header component
 # @global {GlobalSet} header
 # @global {string} navBackground <*dark, light>
 #}

{# Globals #}
{% set navBackground = navBackground|default('dark') %}

{# Params #}
{% set header = header|default(null) %}
{% set logo = header.headerLogo.one() %}
{% set links = header.headerLinks.all() %}
{% set summary = header.headerSummary %}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'header' %}
{% set activeClass = 'is-active' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }} {{ handle }}--nav-background-{{ navBackground }}">
    <input type="checkbox" id="nav-toggle" name="nav-toggle" style="display:none" aria-hidden="true" />
    <div class="{{ handle }}__logo-cont">
        <a href="/" title="Home">
            {% if logo %}
                <img src="{{ logo.url }}" alt="{{ logo.title }}" />
            {% else %}
                {{ siteName }}
            {% endif %}
        </a>
    </div>
    <div class="{{ handle }}__drawer-cont">
        <p>{{ summary }}</p>
        <nav>
            {% set url = siteUrl(craft.app.request.pathInfo) %}

            {% for l in links %}
                {% set link = craft.components.getLinkFromLink(l) %}
                {% set options = {} %}

                {% if link.url == url %}
                    {% set options = options|merge({ class: activeClass }) %}
                {% endif %}

                {% if link %}
                    {{ link.render(link.title, options) }}
                {% endif %}
            {% endfor %}
        </nav>
    </div>
    <div class="{{ handle }}__toggle-cont">
        <label for="nav-toggle">
            <span></span><span></span>
        </label>
    </div>

    {{ components.new(handle, {
        id: id,
    }) }}
</div>
