{##
 # Resource Detail component
 # @param {string} heading
 # @param {string} ctaIntro
 # @param {modules\components\models\Link} cta
 # @param {object} image
 # @param {HTML} body
 # @param {object} author
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set ctaIntro = ctaIntro|default('') %}
{% set cta = cta|default(null) %}
{% set image = image|default(null) %}
{% set body = body|default('') %}
{% set author = author|default(null) %}

{# Variables #}
{% set handle = 'resource-detail' %}
{% set indexLink= craft.components.getLinkFromEntry(
    craft.entries.section('pages').slug('resources').one()
) %}

{# Markup #}
<div class="{{ handle }}">
    <div class="{{ handle }}__breadcrumbs-cont">
        {% spaceless %}
            {% if indexLink %}
                {{ indexLink.render() }}
            {% endif %}
            <i>/</i>
            <span>{{ heading }}</span>
        {% endspaceless %}
    </div>
    <hr />
    <div class="{{ handle }}__heading-cont">
        <h1>{{ heading }}</h1>
        {% if author %}
            <cite>By {{ author.title }}</cite>
        {% endif %}
    </div>
    <div class="{{ handle }}__image-cont">
        {% include '_components/image' with { image: image } %}
        {% if cta %}
            <div class="{{ handle }}__image-cont__cta-cont">
                <p>{{ ctaIntro }}</p>
                {% set content %}
                    {{ cta.title }}
                    {% include '_components/icon' with { icon: 'icon-right' } %}
                {% endset %}
                {{ cta.render(content) }}
            </div>
        {% endif %}
    </div>
    <div class="{{ handle }}__body-cont">
        <div><div>{{ body }}</div></div>
    </div>
</div>
