{##
 # Split Callout component
 # @param {string} heading
 # @param {HTML} body
 # @param {modules\components\models\Link} cta
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set body = body|default('') %}
{% set cta = cta|default(null) %}

{# Variables #}
{% set handle = 'split-callout' %}

{# Markup #}
<div class="{{ handle }} {{ body is not empty ? handle ~ '--has-body' }}">
    <h2>{{ section.heading }}</h2>
    {% if body is not empty %}
        <div>
            {{ body }}
            {% if cta %}
                {% set content %}
                    {{ cta.title }}
                    {% include '_components/icon' with { icon: 'arrow-right' } %}
                {% endset %}

                {{ cta.render(content) }}
            {% endif %}
        </div>
    {% else %}
        {% if cta %}
            {% set content %}
                {{ cta.title }}
                {% include '_components/icon' with { icon: 'arrow-right' } %}
            {% endset %}

            {{ cta.render(content) }}
        {% endif %}
    {% endif %}
</div>
